version: '3'

services:
  dbproducao:
    image: oracle/database:18.4.0-xe
    build:
      context: ./Db
      args:
        - DB_EDITION=xe
    ports:
      - "5500:5501"
      - "1521:1521"
    networks:
      - producao-network
    volumes:
      - dbdata:/opt/oracle/oradata

  apiproducao:
    build:
      context: ./docker-oracle-poc
    depends_on:
      - dbproducao
    ports:
      - "80:8080"
    networks:
      - producao-network
    environment:
      - ASPNETCORE_URLS=http//+:80

networks: 
  producao-network:
    
volumes:
  dbdata: