version: '3'

services:
  db:
    image: oracle/database:18.4.0-xe
    build:
      context: ./Db
      args:
        - DB_EDITION=xe
    ports:
      - "5500:5501"
      - "1521:1521"
    networks:
      - dev-network
    volumes:
      - dbdata:/opt/oracle/oradata
    environment:
      - "ORACLE_SID=sys"
      - "ORACLE_PWD=Doug_1234"

  api:
    build:
      context: .
      dockerfile: ./docker-oracle-poc/Dockerfile
    depends_on:
      - db
    ports:
      - "8080:80"
    networks:
      - dev-network
    environment:
      - "ASPNETCORE_URLS=http://+:80"
      - "ASPNETCORE_ENVIRONMENT=Development"

networks: 
  dev-network:
    
volumes:
  dbdata:
    
    
